
  <app-page-title title="Users List" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
     <div class="col-lg-2">
        <div class="card">
           <div class="card-body">
              <h4 class="card-title mb-4">Filter</h4>
              <div class="mt-4 pt-3">
                 <h5 class="font-size-14 mb-3">Name</h5>
                 <div class="form-input mt-2">
                    <input type="text" class="form-control" id="username" [(ngModel)]="username"
                      (keyup)="filterGrid($event)" />
                 </div>
              </div>
              <div class="mt-4 pt-3">
                <h5 class="font-size-14 mb-3">Email</h5>
                <div class="form-input mt-2">
                   <input type="text" class="form-control" id="email" [(ngModel)]="email"
                     (keyup)="filterGrid($event)"/>
                </div>
             </div>
           </div>
        </div>
     </div>
        
    
  <div class="col-lg-10">
     <div class>
        <div class="table-responsive">
           <table class="table project-list-table table-nowrap align-middle table-borderless">
              <thead>
                 <tr>
                    
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Status</th>
                    <th scope="col">Role Update</th>
                    <th scope="col">Delete</th>
                 </tr>
              </thead>
              <tbody>
                 <tr *ngFor="let user of userData">
                    
                    <td>
                       <h5 class="text-truncate font-size-14">
                          <a href="javascript: void(0);" class="text-dark">{{user.userId}}</a>
                       </h5>
                       <p class="text-muted mb-0">{{user.name}}</p>
                    </td>
                    <td>{{user.email}}</td>
                    <td>{{user.email}}</td>
                    <td>
                       <div class="btn-group" role="group" aria-label="Assign Role">
                          <button type="button" class="btn btn-success" 
                          [ngClass]="{'active': user.role?.id == '1'}" (click)="updateRole('1', user.userId)">Admin</button>
                          <button type="button" class="btn btn-success" (click)="updateRole('2', user.userId)"
                          [ngClass]="{'active': user.role?.id == '2'}">Tutor</button>
                          <button type="button" class="btn btn-success" (click)="updateRole('3', user.userId)"
                           [ngClass]="{'active': user.role?.id == '3'}">Student</button>
                       </div>

                       
                    </td>
                    <td>
                     <div (click)="deleteUser(user.userId)">
                      <i class="bx bxs-trash h1 text-danger align-middle" ></i>
                     </div>
                    </td>
                 </tr>
              </tbody>
           </table>
        </div>
     </div>
  </div>

<!-- end row -->

<!-- end row -->
