<!-- start page title -->
<app-page-title title="Batches" [breadcrumbItems]="breadCrumbItems"></app-page-title>
<!-- end page title -->

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <form class="repeater" [formGroup]="form">
        <h4 class="card-title mb-4">Add Batch</h4>
        <div class="mb-3 col-lg-6">
            <label for="categoryName">Category Name</label>
            
            <ng-select [items]="categories" 
              bindLabel="categoryName"
              formControlName="categoryName"
              bindValue="categoryId" 
              (change)="categoryDropdownHandler($event)">
            </ng-select>
            <div *ngIf="formSubmitted && form.controls.categoryName.errors" class="invalid-feedback">
              <span *ngIf="formSubmitted && form.controls.categoryName.errors.required">Please select Category</span>
            </div>
        </div>
        <div class="mb-3 col-lg-6">
          <label for="categoryName">Sub Category Name</label>
          
          <ng-select [items]="subcategories" 
            bindLabel="name"
            formControlName="categoryName"
            bindValue="childCategoryId" 
            (change)="categoryDropdownHandler($event)">
          </ng-select>
          <div *ngIf="formSubmitted && form.controls.categoryName.errors" class="invalid-feedback">
            <span *ngIf="formSubmitted && form.controls.categoryName.errors.required">Please select Category</span>
          </div>
      </div>
      <div class="mb-3 col-lg-6">
        <label for="categoryName">Batch Name</label>
      </div>
          <div formArrayName="formlist">
            <div *ngFor="let data1 of formData().controls; let i=index;">
              <div [formGroupName]="i" class="row">
                <div class="mb-3 col-lg-6">
                  <input type="text" formControlName="subCategoryName" class="form-control">
                  <input type="hidden" formControlName="subCategoryId" class="form-control" style="display:none;">
                </div>
                <div class="mb-3 col-lg-6 align-self-center">
                  <div class="d-grid">
                    <input type="button" class="btn btn-primary" value="Delete" (click)="removeField(i)">
                  </div>
                </div>
              </div>
            </div>
            <input type="button" class="btn btn-success mt-3 mt-lg-0" value="Add" (click)="addField()">
            
          </div>
        
        <div class="float-end">
          <button class="btn btn-primary w-md ms-1" (click)="saveCategories()">Save</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">Manage Batches</h4>
        <div *ngFor="let catty of subcategories; let i=index;">
          <div class="row">
            <div class="mb-3 col-lg-6">
              <h5>{{catty.name}}</h5>
              <input type="hidden" value="{{catty.childCategoryId}}" class="form-control" style="display:none;">
            </div>
            <div class="mb-3 col-lg-6 align-self-center">
              <div class="d-grid">
                <input type="button" class="btn btn-primary" value="Delete" (click)="removeCategory(catty.childCategoryId)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
