
  <app-page-title title="Users List" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
     <div class="col-lg-3">
        <div class="card">
           <div class="card-body">
              <h4 class="card-title mb-4">Filter</h4>
              <div>
                 <h5 class="font-size-14 mb-3">Roles</h5>
                 <ul class="list-unstyled product-list">
                    <li><input type="checkbox" [(ngModel)]="adminChkBox" (change)="filterGrid($event)"/>Admin</li>
                    <li><input type="checkbox" [(ngModel)]="tutorChkBox" (change)="filterGrid($event)" />Tutor</li>
                    <li><input type="checkbox" [(ngModel)]="studentChkBox" (change)="filterGrid($event)" />Student</li>
                 </ul>
              </div>
              <div class="mt-4 pt-3">
                 <h5 class="font-size-14 mb-3">Name</h5>
                 <div class="form-input mt-2">
                    <input type="text" class="form-control" id="username" [(ngModel)]="username"
                      (keyup)="filterGrid($event)" />
                 </div>
              </div>
              <div class="mt-4 pt-3">
                <h5 class="font-size-14 mb-3">Email</h5>
                <div class="form-input mt-2">
                   <input type="text" class="form-control" id="email" [(ngModel)]="email"
                     (keyup)="filterGrid($event)"/>
                </div>
             </div>
           </div>
        </div>
     </div>
     
        <!--<div class="row">
           <div class="col-xl-4 col-sm-6" *ngFor="let product of products">
              <div class="card">
                 <div class="card-body">
                    <div class="product-img position-relative">
                       <div class="avatar-sm product-ribbon">
                          <span class="avatar-title rounded-circle bg-primary">
                          - % 
                          </span>
                       </div>
                       <a [routerLink]="['/ecommerce/product-detail',product.id]" href="javascript: void(0);"><img src="{{product.images[0]}}" alt=""
                          class="img-fluid mx-auto d-block"></a>
                    </div>
                    <div class="mt-4 text-center">
                       <h5 class="mb-3 text-truncate"><a [routerLink]="['/ecommerce/product-detail',product.id]" href="javascript: void(0);" class="text-dark">{{product.name}} </a>
                       </h5>
                       <p class="text-muted">
                          <i class="bx bx-star text-warning"></i>
                          <i class="bx bx-star text-warning"></i>
                          <i class="bx bx-star text-warning"></i>
                          <i class="bx bx-star text-warning"></i>
                          <i class="bx bx-star text-warning"></i>
                       </p>
                       <h5 class="my-0"><span class="text-muted mr-2"><del>$ {{product.oriRate}}</del></span> <b>$
                          {{product.disRate}}</b>
                       </h5>
                    </div>
                 </div>
              </div>
           </div>
           <!-- end row 
        </div> -->
        
    
  <div class="col-lg-9">
     <div class>
        <div class="table-responsive">
           <table class="table project-list-table table-nowrap align-middle table-borderless">
              <thead>
                 <tr>
                    
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Status</th>
                    <th scope="col">Role Update</th>
                    <th scope="col">Delete</th>
                 </tr>
              </thead>
              <tbody>
                 <tr *ngFor="let user of userData">
                    
                    <td>
                       <h5 class="text-truncate font-size-14">
                          <a href="javascript: void(0);" class="text-dark">{{user.userId}}</a>
                       </h5>
                       <p class="text-muted mb-0">{{user.name}}</p>
                    </td>
                    <td>{{user.email}}</td>
                    <td>{{user.email}}</td>
                    <td>
                       <div class="btn-group" role="group" aria-label="Assign Role">
                          <button type="button" class="btn btn-success" 
                          [ngClass]="{'active': user.role.id == '1'}" (click)="updateRole('1', user.userId)">Admin</button>
                          <button type="button" class="btn btn-success" (click)="updateRole('2', user.userId)"
                          [ngClass]="{'active': user.role.id == '2'}">Tutor</button>
                          <button type="button" class="btn btn-success" (click)="updateRole('3', user.userId)"
                           [ngClass]="{'active': user.role.id == '3'}">Student</button>
                       </div>

                       
                    </td>
                    <td>
                     <div (click)="deleteUser(user.userId)">
                      <i class="bx bxs-trash h1 text-danger align-middle" ></i>
                     </div>
                    </td>
                 </tr>
              </tbody>
           </table>
        </div>
     </div>
  </div>

<!-- end row -->

<!-- end row -->
