<!-- start page title -->
<app-page-title title="Schedule Course" [breadcrumbItems]="breadCrumbItems"></app-page-title>
<!-- end page title -->

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form class="repeater" [formGroup]="form">
        <div class="row">
            <div class="mb-3 col-lg-4">
                <label for="categoryName">Category</label>
                
                <ng-select [items]="categories" 
                bindLabel="categoryName"
                formControlName="categoryName"
                bindValue="categoryId" 
                (change)="categoryDropdownHandler($event)">
                </ng-select>
                
            </div>
            <div class="mb-3 col-lg-4">
                <label for="subCategoryName">Sub Category</label>
                
                <ng-select [items]="subcategories" 
                bindLabel="name"
                formControlName="categoryName"
                bindValue="childCategoryId" 
                (change)="categoryDropdownHandler($event)">
                </ng-select>
            </div>
            <div class="mb-3 col-lg-4">
                <label for="categoryName">Batch Name</label>
                <ng-select [items]="subcategories" 
                bindLabel="name"
                formControlName="categoryName"
                bindValue="childCategoryId" 
                (change)="categoryDropdownHandler($event)">
                </ng-select>
            </div>
        </div>
        
        </form>
      </div>
    </div>
  </div>

</div>
