<!-- start page title -->
<app-page-title title="Categories" [breadcrumbItems]="breadCrumbItems"></app-page-title>
<!-- end page title -->

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">Add Categories</h4>
        <form class="repeater" [formGroup]="form">
          <div formArrayName="formlist">
            <div *ngFor="let data1 of formData().controls; let i=index;">
              <div [formGroupName]="i" class="row">
                <div class="mb-3 col-lg-6">
                  <label for="categoryName">Category Name</label>
                  <input type="text" formControlName="categoryName" class="form-control">
                </div>
                <div class="col-lg-6 align-self-center">
                  <div class="d-grid">
                    <input type="button" class="btn btn-primary" value="Delete" (click)="removeField(i)">
                  </div>
                </div>
              </div>
            </div>
            <input type="button" class="btn btn-success mt-3 mt-lg-0" value="Add" (click)="addField()">
            
          </div>
        </form>
        <div class="float-end">
          <button class="btn btn-primary w-md ms-1" (click)="saveCategories()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">Manage Categories</h4>
        <!--<form class="repeater" [formGroup]="form">
          <div formArrayName="formlist">
            <div *ngFor="let data1 of formData().controls; let i=index;">
              <div [formGroupName]="i" class="row">
                <div class="mb-3 col-lg-2">
                  <label for="name">Category Name</label>
                  <input type="text" formControlName="name" class="form-control">
                </div>
                <div class="col-lg-2 align-self-center">
                  <div class="d-grid">
                    <input type="button" class="btn btn-primary" value="Delete" (click)="removeField(i)">
                  </div>
                </div>
              </div>
            </div>
            <input type="button" class="btn btn-success mt-3 mt-lg-0" value="Add" (click)="addField()">
            
          </div>
        </form> -->
        <div class="float-end">
          <button class="btn btn-primary w-md ms-1" >Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
