
<div class="container-fluid">
<div class="hold-ag-gridd">
    
    
<ag-grid-angular
#agGrid
style="width: 100%; height: 600px;"
id="myGrid"
class="ag-theme-alpine"
[columnDefs]="columnDefs"
[defaultColDef]="defaultColDef"
[rowData]="rowData"
(gridReady)="onGridReady($event)"
></ag-grid-angular>


</div>
</div>


<!--
<div class="container">
    <div class="row">
    <div class="col-md-4 col-lg-4 d-flex flex-wrap">
    <div class="allcourse-card">
    <div class="allcourse-img">
    <img src="assets/img/course/c3.jpg" alt="" class="img-fluid">
    </div>
    <div class="allcourse-content">
    <h4 class="mb-3">Class 6</h4>
    <p>Over <span class="text-warning">20</span> Courses</p>
    </div>
    </div>
    </div>
    <div class="col-md-4 col-lg-4 d-flex flex-wrap">
    <div class="allcourse-card">
    <div class="allcourse-img">
    <img src="assets/img/course/c1.jpg" alt="" class="img-fluid">
    </div>
    <div class="allcourse-content">
    <h4 class="mb-3">Class 10</h4>
    <p>Over <span class="text-warning">5</span> Courses</p>
    </div>
    </div>
    </div>
    <div class="col-md-4 col-lg-4 d-flex flex-wrap">
    <div class="allcourse-card">
    <div class="allcourse-img">
    <img src="assets/img/course/c2.jpg" alt="" class="img-fluid">
    </div>
    <div class="allcourse-content">
    <h4 class="mb-3">Spanish</h4>
    <p>Over <span class="text-warning">2</span> Courses</p>
    </div>
    </div>
    </div>
    <div class="col-md-4 col-lg-4 d-flex flex-wrap">
    <div class="allcourse-card">
    <div class="allcourse-img">
    <img src="assets/img/course/c7.jpg" alt="" class="img-fluid">
    </div>
    <div class="allcourse-content">
    <h4 class="mb-3">Germany</h4>
    <p>Over <span class="text-warning">2</span> Courses</p>
    </div>
    </div>
    </div>
    <div class="col-md-4 col-lg-4 d-flex flex-wrap">
    <div class="allcourse-card">
    <div class="allcourse-img">
    <img src="assets/img/course/c4.jpg" alt="" class="img-fluid">
    </div>
    <div class="allcourse-content">
    <h4 class="mb-3">Research</h4>
    <p>Over <span class="text-warning">2,120</span> Courses</p>
    </div>
    </div>
    </div>
    <div class="col-md-4 col-lg-4 d-flex flex-wrap">
    <div class="allcourse-card">
    <div class="allcourse-img">
    <img src="assets/img/course/c5.jpg" alt="" class="img-fluid">
    </div>
    <div class="allcourse-content">
    <h4 class="mb-3">Finance</h4>
    <p>Over <span class="text-warning">2,840</span> Courses</p>
    </div>
    </div>
    </div>
    
    </div>
    </div>


-->